.badge-status {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
    margin-left: 5px;
    font-weight: 500;
  }
  
  .badge-status.green {
    background-color: green;
  }
  
  .badge-status.red {
    background-color: red;
  }

  .badge-status.yellow {
    background-color: grey;
  }