.search-results {
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: x-small;
    max-height: 300px;
    width: 200px;
    overflow-y: auto;
    position: absolute;
}