.header {
  height: 5vh;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-actions {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}